@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    Ormond Road, Ormond<br />
    <abbr title="Phone">P:</abbr>
    +61-410706511
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@healthify.com"></a>
    
</address>